body 
{ 
    font-family: 'Almarai', sans-serif;

}
.home 
{
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
} 
.navbar .nav-link
{
    padding: 25px !important;
    color: black !important;
    transition: all 0.5s;
}
.nav-link:hover
{
    color: #114D6D !important;
}
.content
{
    margin-top: 20%;
    margin-left: 9%;

}
.content h1 
{
    width: 50%;
    font-size: 60px;
    font-weight: bolder;
}
.nav-item ::after
{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:#114D6D;
    transition: width .3s;
}

.nav-item :hover::after
{
    width: 100%;
    transition: width .3s;
}
.content h1::before
{
    content: "";
    background-color: #114D6D;
    position: absolute;
    bottom: 25%;
    left: 0;
    width: 20%;
    height: 15px;
    margin-left: 20%;
}
.content p
{
    width: 30%;
}

#about 
{
    height: 70vh;
    background-color: #f2f2f2;
}
.about
{
    padding-top: 15%;
    text-align: center;

}
#overview
{
    height: 100vh;
    background-image: url(../img/);
}
.F-S
{
    font-size: 60px;
}
#SERVICES
{
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.icon i
{
    color: #114D6D;

}
.icon
{
    box-shadow: 0 0 5px black;
    border-radius: 20px;
}
#contact
{
    margin-top: 4rem;
    
    background-image: url(../img/v.png);
    background-size: cover;
}
.form-control
{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #f2f2f2;
	border-radius: 0;
	color:black !important;
	font-weight: 0;
}
.form-control:focus
{
	background-color: transparent;
	border: none;
	border: 1px solid black;
	border-radius: 0;
}